section {
    padding: 10%;
    background-color: navy;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem; 

    article {
        background-color: #575151;
        color: navy;
        padding: 20%;
    }
}