nav {
    ul {
      display: flex;
      gap: 1.5rem;
      list-style: none;
      justify-content: center;
      align-items: center;
    }    

    a {

      font-size: 0.875rem;
      color: black;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s ease;

      &:hover {
        text-decoration: underline;
      }

      &:last-of-type {
        display: flex;
        align-items: center;
        justify-content: center;
        }

      
    }    
}




