html {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    margin: 0;
    padding: 10px 25px;
    max-width: 1200px;
    background-image: url('../../img/background.png');
    background-size: 100% 70%;
    background-repeat: no-repeat;

}